
# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Others
*.suo
*.user
*.docstates
/RBEPortalServer/UpdateRBEPortal_PROD_RBEPortal.cmd
/RBEPortal/Web.Release.config