<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RBEPortalData" connectionString="metadata=res://*/Schema.RBEPortal.csdl|res://*/Schema.RBEPortal.ssdl|res://*/Schema.RBEPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=RBEPortal;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RBEPortal"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RBEPortal;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>