@{
    Page.Title = "Resource-Based Economy Portal - About";
}

<h2>About the Resource-Based Economy.</h2>
<p>
    Quoted from wikipedia: "A Resource-Based Economy (also known as post-scarcity or postscarcity) is a form of economy or society,
    in which things such as goods, services and information are free. This is due to an abundance of fundamental resources (matter,
    energy and intelligence), in conjunction with sophisticated automated systems capable of converting raw materials into finished
    goods, allowing manufacturing to be as easy as duplicating software."
</p>
<p>
    We do indeed currently have all the technology required to implement this. It is only the use of our current monetary system that
    prevents this from happening as fast as it could by creating a sense of false scarcity of most resources.
</p>
<p>
    This is where this portal comes into play. To bridge the gap by providing a parallel system.
</p>
<p>
    See Also: <a href="http://en.wikipedia.org/wiki/Post_scarcity">Post Scarcity</a> | <a href="http://en.wikipedia.org/wiki/Gift_economy">
        Gift Economy</a>
</p>
<h2>About this portal.</h2>
<p>
    This platform serves as a hub to request resources, share resources, manage transport, etc. The intent is to provide
    a fully operational RBE implementation that can function in parallel with our current monetary system. Anyone is able to either
    provide a resource/transportation themselves or sponsor (pay for) a resource/transportation.
</p>
<br/>
<br/>
<h5>Currently in Alpha testing and still in development.</h5>
<p>Your suggestions are always welcomed.</p>
