@model RBEPortal.Models.MainModel

@{
    Page.Title = "Resource-Based Economy Portal";
}
@*<h2>Coming soon !</h2>
<p>
    In the mean time you can take a look at the <a href="@Url.Content("~/Home/About")">about page</a>.
</p>*@

@{var form = Html.BeginForm("Search", "Home");}

<h3 style="margin-bottom: 10px;">Search for a resource</h3>

<div style="margin-bottom: 10px; vertical-align: top;">
    @Html.Telerik().AutoCompleteFor(m => m.ResourceName).HtmlAttributes(new { style = "width: 50%;" })
    <input type="submit" value="Search" style="font-size: 1em;"/>
</div>

@{form.EndForm();}
